body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #333;
}
.header{
  position: sticky;
  width: 750px;
  height: 112px;
  margin-bottom: 1px;
  overflow: hidden;
  background-color: #fff;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.19);
}

.header-search{
  margin-left: 16px;
  width: 570px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.08);
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header-title{
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 40px;
  placeholder-color: rgba(0,0,0,0.38);
  color: #000;
  letter-spacing: 0;
  width: 526px;
  tintColor: rgba(0,0,0,0.54);
}

.header-icon{
  font-size: 32px;
  margin-left: 32px;
}

.header-icon-1{
  font-size: 32px;
  margin: 0 16px;
}

.header-icon-2{
  position: absolute;
  font-size: 32px;
  right: 16px;
  top: 20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(0,0,0,.38);
  line-height: 40px;
  text-align: center;
}

.status-bar{
  position: sticky;
  top: 0;
  height: 48px;
  background-color: #000;
  width: 750px;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f1f1f1;
}

.iconfont {
  font-family: iconfont;
}

.search-line{
  width: 750px;
  padding: 0 32px;
  flex-direction:row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  //background-color: #fff;
}
.search-tag{
  //margin-left:24px;
  margin-right:24px;
  border-radius: 100px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  margin-bottom: 24px;
}
.search-tag-text{
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  padding: 18px 32px;
}

.search-bg{
  width: 670px;
  padding: 30px 0;
  background-color: black;
}

.search-border-bottom{
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,0.08);
  border-bottom-style: solid;
}
.search-text-1{
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,0.08);
  border-top-style: solid;
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 96px;
  color: #000000;
  letter-spacing: 0;
  background-color: #fff;
  text-align: center;
}
.box-bg{
  width: 80px;
  height: 80px;
}
.box-txt-icon{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}
.box-dot{
  position: absolute;
  right:8px;
  top: 8px;
  background-color: red;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}
.search-h{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #f4f4f4;
}
.sh-1{
  font-size: 28px;
  color: rgba(0,0,0,.38);
  padding-left: 32px;
  padding-top:  32px;
  padding-bottom:  32px;
  //background-image: linear-gradient(to right, blue, white);
}
.sh-2{
  font-size: 24px;
  color: #1D7CD4;
  padding-right: 32px;
  padding-top:  32px;
  padding-bottom:  32px;
}
