.iconfont {
    font-family: iconfont;
}
.wrapper {
    background-color: #f4f4f4;
}
.blackheader{
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  height: 48px;
  background-color: black;
}

.header {
    margin-top: 48px;
    height: 294px;
    border-radius: 4px;
    background-color: #EF8A31;

}
.overflow-photo{
  height: 230px;
  flex-direction: row;
  align-items: center
}
.i-photo-div{

  width: 128px;
  height: 128px;
  //margin-top: 52px;
  margin-left: 32px;
  border-radius: 64px;
}
.i-photo {
  width: 128px;
  height: 128px;
}
.b-tlt {
  margin-top: 10px;
  margin-left: 18px;
  width: 350px;
  flex-direction: column;
  justify-content: flex-start;
}
.i-name {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
    color: rgba(255,255,255,0.87);
}
.txt-tag {
    color: white;
    flex: 1;
    height: 40px;
    font-size: 24px;
    overflow: hidden;
    margin-top: 12px;
    flex-direction: row;
    justify-content: flex-start;
}
.txt-tag-txt{
  font-size: 24px;
  color: white;
}
.txt-icon{
  font-size: 18px;
  color: white;
  line-height: 32px;
}
.b-qrcode {
  margin-top: 100px;

  opacity: 0.54;
}
.overflow-setting-icon{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 58px;
  padding-right:32px ;
}
.setting-icon{
  color: white;
  text-align: center;
  width: 36px;
  height: 36px;
}
.box-tlt {
    height: 96px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.08);
    flex-direction: row;
    justify-content: space-between;
}
.box-left{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.box-txt-icon {
    width: 40px;
    height: 40px;
    margin-left: 32px;
    margin-right: 24px;
    color: #ef8a31;
}
.box-txt1 {
    font-size: 28px;
    font-weight: 600;
    padding-left: 32px;
    padding-top: 35px;
    color: #333;
}
.box-txt {
    font-size: 28px;
    font-weight: 600;
    color: #333;
}
.box-dot{
  background-color: red;
  font-size: 20px;
  padding: 4px;
  margin-left: 16px;
  font-weight: 600;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}
.i-box {
  font-size: 20px;
  padding-top: 40px;
  padding-right: 32px;
  color: rgba(0,0,0,0.54);
}
.overflow-point-card{
  flex-direction: row;
  justify-content: center;
  margin-top: -64px;
}
.point-card{
  height: 128px;
  width: 712px;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
  border-radius: 8px;
  flex-direction: row;
  justify-content: space-around;
}
.point{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 62px;
}
.center-border{
  width: 1px;
  height: 98px;
  margin: 10px 0 ;
  background-color: rgba(0,0,0,0.08);
}
.card{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;
}
.point-card-num{
  font-family: ProximaNova-Bold;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
}
.point-card-txt{
  font-family: ProximaNova-Regular;
  font-size: 24px;
  color: rgba(0,0,0,0.87);
}


.overflow-box{
  flex-direction: row;
  justify-content: center;
  border-radius:8px;
}
.s-box {
  margin-top: 16px;
  width: 712px;
  height: 294px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0px 1px 0 rgba(0,0,0,0.12);
}
.mid-cell{
  margin-top: 16px;
  border-radius: 8px;
  width: 712px;
  background-color: #fff;
}
.mid-cell-bottom{
  margin-bottom: 128px;
}
.box-line {
    height: 192px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.i-box-l {
    width: 130px;
}

.i-box-icon {
    font-size: 50px;
    text-align: center;
    margin-left: 40px;
    margin-right: 10px;
    margin-top:20px;
    padding-top:30px;
    margin-bottom: 8px;
    width: 48px;
    height: 80px;
    //padding-bottom: 10px;
    color: #EF8A31;
}

.i-box-tlt {
    font-size: 20px;
    text-align: center;
    color: #666;
    padding-top: 16px;
}

.no-login{
  width: 750px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-login-text{
    background-color: white;
    margin-top: 24px;
    padding: 10px 100px;
    border-radius: 50%;
    color: #EF8A31;
    font-size: 24px;
    font-weight: 700;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.19);
}
.line-serve {
    padding-top: 20px;
    height: 150px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.i-c-orange {
    color: #ff744d;
}

.i-c-yellow {
    color: #f6a121;
}

.i-c-blue {
    color: #689de5;
}
