.iconfont {
    font-family: iconfont;
}
.wrapper {
    background-color: #f4f4f4;
}
.blackheader{
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  height: 48px;
  background-color: black;
}
.cell-button {
    //margin-bottom: 18px;
}

.header {
    margin-top: 160px;
    height: 226px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    //border-bottom-style: solid;
    //border-bottom-color: black;
    //border-bottom-width: 1px;
    border-radius: 4px;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-between;
}
.i-photo-div{
  //background-color: #1da1f2;
  width: 128px;
  height: 128px;
  margin-top: 45px;
  margin-left: 30px;
  border-radius: 64px;
}
.i-photo {
  width: 128px;
  height: 128px;

}
.b-tlt {
  margin-top: 70px;
  margin-left: -90px;
  width: 350px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.i-name {
    margin-bottom: 16px;
    font-size: 38px;
}
.txt-tag {
    color: #b4a078;
    flex: 1;
    height: 40px;
    font-size: 28px;
    overflow: hidden;
    lines: 1;
    text-overflow: ellipsis;
}

.b-qrcode {
  margin-top: 100px;
}

.s-box {
    margin-top: 40px;
    width: 750px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0px 1px 0 rgba(0,0,0,0.12);
}

.box-tlt {
    height: 96px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0.08);
    flex-direction: row;
    justify-content: space-between;
}

.box-txt-icon {
    font-family: iconfont;
    font-size: 40px;
    padding-top: 34px;
    padding-left: 32px;
    color: #ef8a31;
}
.box-txt {
    font-family: iconfont;
    font-size: 30px;
    padding-top: 34px;
    padding-left: 32px;
    color: #333;
}

.i-box {
  font-size: 20px;
  padding-top: 34px;
  padding-right: 32px;
  color: rgba(0,0,0,0.87);
}
.mid-cell{
  margin-top: 16px;
  border-radius: 4px;
  background-color: #fff;
}
.box-line {
    height: 192px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.i-box-l {
    width: 130px;
    //height: 132px;
}

.i-box-icon {
    font-size: 50px;
    text-align: center;
    margin: 10px;
    padding-top:30px;
    height: 79px;
    padding-bottom: 10px;
    color: #EF8A31;
}

.i-box-tlt {
    font-size: 26px;
    text-align: center;
    color: #666;
    padding-top: 20px;
}
.box-left{
  flex-direction: row;
  justify-content: space-between;
}
.line-serve {
    padding-top: 20px;
    height: 150px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .15);
}

.i-c-orange {
    color: #ff744d;
}

.i-c-yellow {
    color: #f6a121;
}

.i-c-blue {
    color: #689de5;
}
