.gif-icon{
  width: 80px;
  height: 44px;
  position: relative;
  top: 78px;
  left: 115px;
  //transform: scaleX(-1);
}
.gif-icon1{
  width: 76px;
  height: 80px;
  position: relative;
  top: 60px;
  left: 80px;
}
.gif-icon2{
  width: 55px;
  height: 55px;
  position: relative;
  top: 60px;
  left: 80px;
}
.gif-icon3{
  width: 74px;
  height: 82px;
  position: relative;
  top: 40px;
  left: 100px;
}
.gif-icon4{
  width: 71px;
  height: 71px;
  position: relative;
  top: -210px;
  left: 480px;
}
.gif-icon5{
  width: 66px;
  height: 68px;
  position: relative;
  top: -220px;
  left: 540px;
}
.gif-icon6{
  width: 71px;
  height: 48px;
  position: relative;
  top: -220px;
  left: 550px;
}
.gif-icon7{
  width: 72px;
  height: 65px;
  position: relative;
  top: -240px;
  left: 520px;
}
.gif-icon8{
  width: 72px;
  height: 65px;
  position: relative;
  top: -260px;
  left: 550px;
}
