.gif-icon{
  width: 80px;
  height: 44px;
  position: relative;
  top: 78px;
  left: 115px;
  //transform: scaleX(-1);
}
.gif-icon1{
  width: 76px;
  height: 80px;
  position: relative;
  top: 40px;
  left: 80px;
  //transform: rotate(-30deg) scale(1.1);
}
