body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  color: #333;
}
.header{
  position: fixed;
  top: 48px;
  width: 750px;
  height: 112px;
  overflow: hidden;
  background-color: #EF8A31;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header-search{
  margin-left: 32px;
  width: 606px;
  height: 80px;
  border-radius: 40px;
  background-color: rgba(255,255,255,0.41);
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header-title{
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  letter-spacing: 0;
}

.header-icon{
  font-size: 32px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
}

.header-new{
  position: fixed;
  top: 48px;
  width: 750px;
  height: 112px;
  overflow: hidden;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
}

.header-search-new{
  margin-left: 32px;
  width: 606px;
  height: 80px;
  border-radius: 40px;
  background-color: rgba(0,0,0,0.08);
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.header-title-new{
  font-family: ProximaNova;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0,0,0,0.54);
  letter-spacing: 0;
}

.header-icon-new{
  font-size: 32px;
  color: rgba(0,0,0,0.54);
  margin-left: 16px;
  margin-right: 16px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
}

.app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.r-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.iconfont {
  font-family: iconfont;
}

.status-bar{
  position: fixed;
  top: 0;
  height: 48px;
  background-color: #000;
  width: 750px;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.wrapper-bottom{
  padding-bottom: 80px;
}

.main-list {
  position: sticky;
  left: 0;
  right: 0;
  /*margin-top: 167px;*/
  /*margin-bottom: 90px;*/
}

.cell-top{
  height: 16px;
  width: 750px;
  background-color: #fff;
}

.cell-button {
  padding-bottom: 16px;
  background-color: #f1f1f1;
}

.cell-margin-button {
  margin-bottom: 16px;
}

.cell-fixed {
  width: 750px;
  height: 26px;
  background-color: #fff;
}

.i-slg {
  height: 66px;
  font-size: 26px;
  padding-top: 16px;
  flex: 1;
  text-align: center;
  color: #b4282d;
}

.indicator {
  width: 750px;
  text-align: center;
  color: #888888;
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.slider-wrap {
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 750px;
  height: 319px;
  position: relative;
}

.slider-wrap-1 {
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 750px;
  height: 319px;
  position: absolute;
  top: 160px;
  background-color: #fff;
}

.slider-bg{
  position: absolute;
  background-color: #000;
  width: 750px;
  height: 362px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.slider-container {
  width: 686px;
  height: 303px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px;
  margin-top: 16px;
}

.slider-bg-1{
  position: absolute;
  top: -380px;
  width: 1520px;
  height: 600px;
  border-bottom-left-radius: 760px;
  border-bottom-right-radius: 760px;
  background-color: #EF8A31;
  left: -385px;
}

.box{
  top: 159px;
  left: 0;
  right: 0;
  width: 750px;
}

.transparent{
  background-color: transparent;
}

.slider{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: -1px;
}

.notice-bg{
  width: 622px;
  height: 80px;
  background-color: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.12);
  border-radius: 40px;
  overflow: hidden;
}

.notice-wrapper {
  width: 750px;
  height: 104px;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  margin-top: 32px;
}

.home-title{
  width: 750px;
  background-color: #fff;
  padding-top: 32px;
  padding-left: 32px;
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}

.home-drop{
  width: 750px;
  height: 264px;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.home-drop-1{
  width: 750px;
  height: 450px;
  position: relative;
  align-items: center;
  overflow: hidden;
  background-color: #EF8A31;
}

.drop-bg{
  position: absolute;
  top: 72px;
  width: 1520px;
  height: 600px;
  border-top-left-radius: 760px;
  border-top-right-radius: 760px;
  background-color: #EF8A31;
  left: -385px;
}

.drop-title-bg{
  width: 750px;
  height: 112px;
  padding-top: 32px;
  justify-content: center;
  align-items: center;
}

.drop-title{
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  border-radius: 100px;
  width: 406px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.drop-title{
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12);
  border-radius: 100px;
  width: 406px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.drop-title-icon{
  font-size: 54px;
  line-height: 54px;
  position: absolute;
  left: 132px;
  top: 18px;
  color: #ff335a;
}

.drop-title-text{
  font-family: ProximaNova;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #EF8A31;
}

.box-bg{
  position: absolute;
  right: 24px;
  top: 26px;
  width: 60px;
  height: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box-txt-icon {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.box-txt-icon-new {
  width: 40px;
  height: 40px;
  color: rgba(239,138,49,0.54);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.box-dot{
  position: absolute;
  right: 0;
  top: 0;
  background-color: red;
  font-size: 16px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
}

.loading{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}

.loading-icon{
  width: 64px;
  height: 64px;
}
