.iconfont {
    font-family: iconfont;
}

.wrapper {
    margin-top: -1px;
    width: 750px;
    height: 84px;
    z-index: 100;
    background-color: #000;
}

.scroller {
    width: 750px;
    height: 68px;
    padding-left: 8px;
    padding-right: 8px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.i-c {
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.c-act {
    font-weight: 500;
}

.j-uline {
    position: absolute;
    left: 32px;
    bottom: 0;
    width: 56px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
